<div class="container-fluid py-3">
    <div class="d-flex justify-content-between pb-2">
        <h3 class="text-blue" translate>texts.title</h3>
    </div>
    <table class="table table-bordered table-striped w-100">
        <thead>
            <tr>
                <th translate>texts.name</th>
                <th translate>texts.value</th>
                <th class="text-center" *ngIf="editPerm" translate>actions</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let t of texts">
                <td class="align-middle">{{'texts.' + t.key + "-" + t.language | translate}}</td>
                <td class="align-middle">{{t.value}}</td>
                <td class="text-center align-middle py-2" *ngIf="editPerm">
                    <button class="btn btn-sm btn-success" (click)="edit(t)" translate>btn.edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>