<div class="card border-primary h-100">
    <div class="card-header bg-blue text-white p-2" translate>auth.changePassTitle</div>
    <mat-dialog-content>
        <div class="card-body">
            <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()" class="d-flex flex-column h-100">
                <div class="form-group" *ngIf="!resetPassword">
                    <label for="currentPasswd" translate>auth.currentPasswd</label>
                    <input type="password" formControlName="currentPasswd" class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': submitted && form.currentPasswd.errors }" />
                    <div class="invalid-feedback" *ngIf="form.currentPasswd.errors?.required" translate>errors.required</div>
                </div>
                
                <div class="form-group">
                    <label for="newPasswd" translate>auth.newPasswd</label>
                    <input type="password" formControlName="newPasswd" class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': submitted && form.newPasswd.errors }" />
                    <div class="invalid-feedback" *ngIf="form.newPasswd.errors?.required" translate>errors.required</div>
                    <div class="invalid-feedback" *ngIf="form.newPasswd.errors?.pattern" translate>errors.passRegexpError</div>
                </div>
                
                <div class="form-group">
                    <label for="confirmPasswd" translate>auth.newPasswdConfirm</label>
                    <input type="password" formControlName="confirmPasswd" class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': submitted && form.confirmPasswd.errors }" />
                    <div class="invalid-feedback" *ngIf="form.confirmPasswd.errors?.required" translate>errors.required</div>
                    <div class="invalid-feedback" *ngIf="form.confirmPasswd.errors?.notEq" translate>errors.passDontMatch</div>
                </div>
    
                <div class="d-flex justify-content-end mt-auto">
                    <button [disabled]="loading" class="btn btn-sm btn-primary mr-1" translate>btn.save</button>
                    <button class="btn btn-sm btn-primary" mat-button [mat-dialog-close] translate>btn.close</button>
                </div>
            </form>
        </div>
    </mat-dialog-content>
</div>