<div class="container-fluid d-flex flex-column px-5 py-3 h-100">
    <div class="d-flex justify-content-between pb-2">
        <h3 class="text-blue" translate>menu.reports.reportedEventsPeriods</h3>
    </div>

    <div class="input-group mb-2">
        <div class="input-group-prepend"><span class="input-group-text" translate>filter.forMonthFirstPeriod</span></div>
        <select class="custom-select" aria-describedby="forMonthFirstPeriod" [(ngModel)]="forMonthFirstPeriod">
            <option value="0" translate>filter.all</option>
            <option *ngFor="let m of months" [value]="m" translate>
                {{'month.' + m}}
            </option>
        </select>

        <div class="input-group-prepend ml-2"><span class="input-group-text" translate>filter.forYearFirstPeriod</span></div>
        <select class="custom-select" aria-describedby="forYearFirstPeriod" [(ngModel)]="forYearFirstPeriod">
            <option *ngFor="let y of years" [value]="y" translate>
                {{y}}
            </option>
        </select>

        <div class="input-group-prepend ml-2"><span class="input-group-text" translate>filter.forMonthSecondPeriod</span></div>
        <select class="custom-select" aria-describedby="forMonthSecondPeriod" [(ngModel)]="forMonthSecondPeriod">
            <option value="0" translate>filter.all</option>
            <option *ngFor="let m of months" [value]="m" translate>
                {{'month.' + m}}
            </option>
        </select>

        <div class="input-group-prepend ml-2"><span class="input-group-text" translate>filter.forYearSecondPeriod</span></div>
        <select class="custom-select" aria-describedby="forYearSecondPeriod" [(ngModel)]="forYearSecondPeriod">
            <option *ngFor="let y of years" [value]="y" translate>
                {{y}}
            </option>
        </select>

        <div class="input-group-prepend ml-2"><span class="input-group-text" translate>filter.country</span></div>
        <select class="custom-select" name="countryId" [(ngModel)]="countryId" (change)='onCountrySelect($event)'>
            <option value="0" translate>filter.all</option>
            <option *ngFor="let country of countries" [value]=country.id>
                {{country.nameBg}}
            </option>
        </select>

        <div class="input-group-prepend ml-2"><span class="input-group-text" translate>filter.operator</span></div>
        <select class="custom-select" name="operatorId" [(ngModel)]="operatorId" [disabled]="disableOperator">
            <option value="0" translate>filter.all</option>
            <option *ngFor="let operator of operators" [value]=operator.id>
                {{operator.name}}
            </option>
        </select>

        <div class="input-group-prepend ml-2"><span class="input-group-text" translate>filter.region</span></div>
        <select class="custom-select" name="regionId" [(ngModel)]="regionId">
            <option value="0" translate>filter.all</option>
            <option *ngFor="let region of regions" [value]=region.id>
                {{region.name}}
            </option>
        </select>

        <div class="input-group-append ml-2">
            <button class="btn btn-outline-success" (click)="filter()" translate>button.search</button>
            <button class="btn btn-outline-danger ml-2" (click)="clearFilters()" translate>button.clearFilter</button>
            <button class="btn btn-outline-secondary ml-2" (click)="exportChart()" type="button"> <i class="fa fa-file-pdf-o"></i> </button>
        </div>
    </div>
    <span class="text-muted" translate>report.pieChartHint</span>

    <div class="pt-5 h-100">
        <canvas baseChart height="100%" id="comparisonChart"
            chartType="bar"
            [data]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [colors]="chartColors">
        </canvas>
    </div>
</div>

